@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image-desktop{
    background: url('/assets/suggestions/desktop/background-header.png');
    background-size: cover;

}
.bg-image-tablet{
    background: url('/assets/suggestions/tablet/background-header.png');
    background-size: cover;
}

.bg-image-mobile{
    background: url('/assets/suggestions/mobile/background-header.png');
    background-size: cover;
}